---
author: "niku"
---

<%= stylesheet_link_tag 'udon' %>
<%= javascript_include_tag 'udon' %>
<div class="udon">
  <div>
    <span>udon page fuck off</span>
  </div>
</div>

<%= link_to 'index', '/' %>
